body{
    background-color: #DAE3E7;
    font-size: 16px;
    line-height: 1.7em;
}

header{
    background-color: #ccc;
}

header img{
    display: block;
    margin: 0 auto;
}

header li a{
    color: #aaa;
}

header a:hover{
    color: #888;
    text-decoration: none;
}

.section{
    background-color: #fff;
    margin: 2em 0;
    padding: 2em 1em;
}

#aboutMe p{
    text-indent: 2em;
}

.project{
    margin: 1em;
    padding: 1em;
}

.project h3 a{
    color: #778492;
    text-decoration: none;
}

.project .enlargeImg{
    box-shadow: 0.2em 0.2em 1em 0.5em rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.project .enlargeImg img{
    display: block;
    width: 95%;
    margin: auto;
}


.project .showBtns{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    display: none;
    overflow: hidden;
}

.btn-primary{
    background-color: #0072D4;
}

.btn-primary:hover{
    background-color: #0055D4;
}

.project .showBtns a{
    width: 46%;
    margin: 1% 1%;
    border: none;
    overflow: hidden;
}

@media (max-width: 767px){
    .project .showBtns a{
        display: block;
        width: 97%;
        margin: 1% 1%;
    }
}

.upDownBtn span{
    position: relative;
    color: rgba(255,255,255,0.8);
}

.project h3{
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
}

.project p{
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em 0;
    text-indent: 2em;
}

#mainProject{
    border-bottom: 1px solid #ccc;
}

#gotoTop{
    display: none;
    position: fixed;
    top: 75%;
    right: 1em;
    cursor: pointer;
    padding: 9px 4px;
    background-color: #fff;
}

#gotoTop:hover{
    background-color: #5cb542;
    color: #fff;
}

@media (max-width: 767px){
    header{
        text-align: center;
    }
}

/*devices width more than 768px*/
@media (min-width: 768px){
    header img{
        float: left;
        margin-right: 2em;
    }
    header #myLinks{
        float: left;
    }

    header #contactMe{
        float: right;
        margin-top: 4em;
    }
}